<!DOCTYPE html>
<html lang="en">
    <head>
        {% block style %}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/1.2/base.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/1.2/skeleton.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/1.2/layout.min.css">
        <link rel="stylesheet" href="/static/style.css">
        {% endblock %}
        <title>{% block title %}{% endblock %}</title>
        {% block scripts %}
        <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="four columns sidebar">
                    <nav>
                        <h3 id="logo"><a href="/">Elliot Marsden</a></h3>
                        <ul class="sidebar-nav">
                            <li><a href="/research.html">Research</a></li>
                            <li><a href="/projects.html">Projects</a></li>
                            <li><a href="/cv.html">CV</a></li>
                        </ul>
                        <h4 id="logo">Elsewhere</h4>
                        <ul class="sidebar-nav">
                            <li><a href="//blog.elliotmarsden.com">Blog</a></li>
                            <li><a href="//github.com/eddiejessup">Github</a></li>
                            <li><a href="//twitter.com/EddieJessup">Twitter</a></li>
                            <li><a href="//www.facebook.com/elmo.marsden">Facebook</a></li>
                            <li><a href="//www.ph.ed.ac.uk/people/elliot-marsden">Academic</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="twelve columns content">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <div class="row">
                <footer>Designed with <a href="//getskeleton.com">Skeleton</a></footer>
            </div>
        </div>
    </body>
</html>
