{% extends "base.html" %}
{% block title %}Elliot Marsden - CV{% endblock %}
{% block content %}
<header><h1>Curriculum Vitae</h1></header>
<ul>
    <li><h2>Education</h2>
        <ul class="section">
            <li>
                <div class="title">
                    2011 &ndash; 2015: PhD in Soft Condensed Matter Physics
                </div>
                <div class="detail">
                    <a href="//www.ed.ac.uk/home">University of Edinburgh</a>
                </div>
                <div class="description">
                    <ul>
                        <li>Thesis on <cite>The collective dynamics of self-propelled particles in confining environments</cite>, on computer simulations of the movement of large numbers of bacteria in spaces with obstacles</li>
                        <li>Publication of work in <a href="//dx.doi.org/10.1039/c3sm52358f"><cite>Soft Matter</cite></a>, and on the front cover of <a href="//dx.doi.org/10.1103/PhysRevLett.113.268101"><cite>Physical Review Letters</cite></a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="title">
                    2007 &ndash; 2011: MPhys in Theoretical Physics
                </div>
                <div class="detail">
                    <a href="//www.dur.ac.uk/van-mildert.college">Van Mildert College</a>, <a href="//www.dur.ac.uk">Durham University</a>
                </div>
                <div class="description">
                    <ul>
                        <li>Graduated 1<sup>st</sup> Class with Honours</li>
                        <li>Masters thesis on <cite>Computational Analysis of Shear Banding in Shear Startup and L<small>AOS</small> Regimes</cite>, on the complex behaviour of polymeric fluids as they flow</li>
                        <li>Contributed to publication of <a href="//dx.doi.org/10.1103/PhysRevLett.110.086001"><cite>Criteria for Shear Banding in Time-Dependent Flows of Complex Fluids</cite></a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="title">
                    2000 &ndash; 2007
                </div>
                <div class="detail">
                    <a href="//www.crgs.org.uk">Clitheroe Royal Grammar School and Sixth Form College</a>
                </div>
                <div class="description">
                    <ul>
                        <li>A-Level Maths, Physics and Chemistry (A)</li>
                        <li>AS-Level Computing (A)</li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li><h2>Employment</h2>
        <ul class="section">
            <li>
                <div class="title">
                    2015 &ndash; Present: Software Developer
                </div>
                <div class="detail">
                    <a href="//ecometrica.com">Ecometrica</a>
                </div>
                <div class="description">
                    <ul>
                        <li>Development of a web platform providing visualization and analysis of geo-spatial data</li>
                        <li>Back-end development using Django</li>
                        <li>Front-end development using L<small>ESS</small>, Handlebars and jQuery</li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="title">
                    2011 &ndash; 2015: Teaching assistant
                </div>
                <div class="detail">
                    University of Edinburgh
                </div>
                <div class="description">
                    Taught on various courses, including
                    <ul>
                        <li>Scientific Programming in Java</li>
                        <li>Computational Research Methods</li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="title">
                    2008: Checkout operative
                </div>
                <div class="detail">
                    <a href="//www.booths.co.uk">Booths supermarkets</a>
                </div>
            </li>
            <li>
                <div class="title">
                    2005 &ndash; 2006: Call centre operative
                </div>
                <div class="detail">
                    <a href="//www.conceptpropertyclaims.co.uk">Concept Solutions</a>
                </div>
            </li>
        </ul>
    </li>
    <li><h2>Skills</h2>
        <ul class="section">
            <li><h3>Programming Languages</h3>
                <ul>
                    <li>
                        <div class="title">
                            Python
                        </div>
                        <div class="description">
                            Experience in such areas as numerical processing, scientific modelling, data analysis, data visualization, web scraping and web development.
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            C, C++
                        </div>
                        <div class="description">
                            Numerical solution of differential equations, molecular dynamics simulation, network automata
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            Java
                        </div>
                        <div class="description">
                            Taught multiple courses to undergraduate students
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            H<small>TML</small>, C<small>SS</small>, Javascript, CoffeeScript, jQuery
                        </div>
                        <div class="description">
                            Developed several websites in personal projects, and worked in front-end development in a business context
                        </div>
                    </li>
                </ul>
            </li>
            <li><h3>Software</h3>
                <ul>
                    <li>
                        <div class="title">
                            Operating Systems
                        </div>
                        <div class="description">
                            Entirely familiar with Linux, OS X and Windows environments
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            Version control
                        </div>
                        <div class="description">
                            Competent using <a href="//git-scm.com">Git</a> and <a href="//www.mercurial-scm.org">Mercurial</a>
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            Web application frameworks
                        </div>
                        <div class="description">
                            Proficient using <a href="//www.djangoproject.com">Django</a> and <a href="//flask.pocoo.org">Flask</a>. Some experience using <a href="//www.meteor.com">Meteor</a>. Static site generation using <a href="//www.pelican.com">Pelican</a>
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            Persistent data storage
                        </div>
                        <div class="description">
                            Experience interacting with <a href="//www.mysql.com">MyS<small>QL</small></a>, <a href="//www.postgresql.org">PostgreS<small>QL</small></a> and <a href="//www.sqlite.org">S<small>QL</small>ite</a> databases. Also familiar using NoS<small>QL</small> solutions through <a href="//www.mongodb.org">MongoD<small>B</small></a> and <a href="//redis.io">Redis</a>, and Database-as-a-Service solutions through <a href="//orchestrate.io">Orchestrate</a>
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            Web hosting
                        </div>
                        <div class="description">
                            Traditional web servers, <a href="//dashboard.heroku.com/login">Heroku</a> and <a href="//aws.amazon.com">Amazon Web Services</a>
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            Front-end technologies
                        </div>
                        <div class="description">
                            <a href="//getbootstrap.com">Bootstrap</a>, <a href="//getskeleton.com">Skeleton</a>, <a href="//lesscss.org">L<small>ESS</small></a>, <a href="//sass-lang.com">S<small>ASS</small></a>, <a href="//jquery.com">jQuery</a>, <a href="//handlebarsjs.com">Handlebars</a>, <a href="//facebook.github.io/react">React.js</a>
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            Document preparation
                        </div>
                        <div class="description">
                            <a href="//www.latex-project.org">LaTeX</a>, <a href="//daringfireball.net/projects/markdown">Markdown</a>, <a href="//pandoc.org">Pandoc</a>
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            3D modelling and design
                        </div>
                        <div class="description">
                            <a href="//www.autodesk.co.uk/products/autodesk-3ds-max">3ds Max</a>
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            Scientific and numerical computing
                        </div>
                        <div class="description">
                            <a href="//www.numpy.org">Numpy</a>, <a href="//www.ctcms.nist.gov/fipy">FiPy</a>, <a href="//networkx.github.io">NetworkX</a>
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            Program optimization
                        </div>
                        <div class="description">
                            <a href="//cython.org">Cython</a>, <a href="//www.boost.org/doc/libs/1_60_0/libs/python/doc/html/index.html">Boost.Python</a>
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            Data analysis
                        </div>
                        <div class="description">
                            <a href="//pandas.pydata.org">Pandas</a>, <a href="//www.scipy.org">Scipy</a>
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            Data visualization
                        </div>
                        <div class="description">
                            <a href="//matplotlib.org">Matplotlib</a>, <a href="//www.vtk.org">V<small>TK</small></a>, <a href="//www.highcharts.com">Highcharts</a>, <a href="//d3js.org">d3.js</a>
                        </div>
                    </li>
                </ul>
            </li>
            <li><h3>Theory</h3>
                <ul>
                    <li>
                        <div class="title">
                            General Mathematics
                        </div>
                        <div class="description">
                            Capable in such areas as calculus, geometry, differential equations, graph theory and so on
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            Computing
                        </div>
                        <div class="description">
                            Familiar with complexity theory, algorithm analysis and data structures
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            Data analysis and statistics
                        </div>
                        <div class="description">
                            Signal processing, frequency analysis, data clustering, model fitting and regression analysis
                        </div>
                    </li>
                </ul>                
            </li>
            <li><h3>Miscellaneous</h3>
                <ul>
                    <li>
                        <div class="title">
                            Transport
                        </div>
                        <div class="description">
                            Full, clean UK Driving License
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            Intermediate French
                        </div>
                        <div class="description">
                            G<small>CSE</small> A<sup>*</sup> and private learning
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            Conversational German
                        </div>
                        <div class="description">
                            Secondary school and one semester of an undergraduate course
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            Conversational Russian
                        </div>
                        <div class="description">
                            One semester of Edinburgh's <a href="//www.ed.ac.uk/studying/short-courses/languages/for-all">Languages for All</a> and private learning
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li><h2>Experience</h2>
        <ul class="section">
            <li>
                <div class="title">
                    Public communication
                </div>
                <div class="description">
                    <ul>
                        <li>
                            Given talks at conferences, including at <a href="//ist.ac.at/stochastic-biology"><cite>Stochastic Biology: from Cells to Populations</cite></a>; as an invited speaker at the <a href="//www.nbi.ku.dk/english/research/biophysics">Niels Bohr Institute</a> and at the <a href="//www.kcl.ac.uk/nms/depts/mathematics/events/eventsrecords/netadissummerschool.aspx">N<small>ETADIS</small> Summer School</a>
                        </li>
                        <li>
                            Presented seminars, journal clubs and such within the Edinburgh research group
                        </li>
                        <li>
                            First prize for <cite>Bacterial Chemotaxis in Confining Geometries</cite> in annual PhD poster competition at the University of Edinburgh
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="title">
                    Teaching
                </div>
                <div class="description">
                    Taught version control, Python and Linux skills to PhD students at <a href="//software-carpentry.org">Software Carpentry</a> <a href="//software-carpentry.org/workshops">Boot Camps</a> in Edinburgh and Bath in 2013
                </div>
            </li>
            <li>
                <div class="title">
                    Web design
                </div>
                <div class="description">
                    Design and maintenance of websites for artist <a href="//nicktighe.uk">Nick Tighe</a>; <a href="//elliotmarsden.com">personal website</a> and <a href="//blog.elliotmarsden.com">personal blog</a>
                </div>
             </li>
            <li>
                <div class="title">
                    Sequence data analysis
                </div>
                <div class="description">
                    Worked with collaborators during PhD to carry out DNA sequencing

                    <ul>
                        <li>
                            Analysed using bio-informatics software <a href="//qiime.org">Q<small>IIME</small></a>
                        </li>
                        <li>
                            Processed using cloud computing platform <a href="//aws.amazon.com/ec2">Amazon EC2</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="title">
                    <a href="//edrecycle.elliotmarsden.com">EdRecycle</a>
                </div>
                <div class="description">
                    Developed web application presenting a calendar of Edinburgh's recycling collection, customized by street
                </div>
            </li>
            <li>
                <div class="title">
                    Tubeit
                </div>
                <div class="description">
                    Co-designed and wrote a prototype web application to build a schematic London Tube-style map for a location based on drinking locations obtained from the Google Maps A<small>PI</small>
                </div>
            </li>
            <li>
                <div class="title">
                    Open source contributions
                </div>
                <div class="description">
                    Contributed to various projects, including,

                    <ul>
                        <li>
                             <a href="//lammps.sandia.gov">L<small>AMMPS</small></a>: Added low-reynolds number self-propelled particle functionality to molecular dynamics package
                        </li>
                        <li>
                             <a href="//github.com/eddiejessup/Transcrypt">Sublime Text</a>: Created text editor plugin written in Python, to allow in-place text encryption
                        </li>
                        <li>
                             <a href="//vpython.org">VPython</a>: Fixed OS X compatibility
                        </li>
                        <li>
                             <a href="//github.com/orchestrate-io/porc">Orchestrate</a>: Addition of Python A<small>PI</small> functionality
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="title">
                    Control system optimisation
                </div>
                <div class="description">
                    Designed an improved algorithm for a newly installed machine producing Crunchie material for <a href="//www.cadbury.co.uk/Cadbury">Cadbury</a> in 2010
                </div>
            </li>
        </ul>
    </li>
</ul>
{% endblock %}
