{% extends "base.html" %}
{% block title %}Elliot Marsden - CV{% endblock %}
{% block content %}
    <header><h1>Curriculum Vitae</h1></header>
    <h2>Education</h2>
        <ul>
            <li>2000 - 2007: <a href="//www.crgs.org.uk">Clitheroe Royal Grammar School &amp Sixth Form College</a></li>
            <li>2007 - 2011: MPhys in Theoretical Physics, <a href="//www.dur.ac.uk/van-mildert.college">Van Mildert College</a>, <a href="//www.dur.ac.uk">Durham University</a></li>
            <li>2011 - Present: PhD in Soft Condensed Matter Physics, <a href="//www.ed.ac.uk/home">University of Edinburgh</a></li>
        </ul>
    <h2>Skills</h2>
        <h3>Programming Languages</h3>
            <ul>
                <li>Python</li>
                <li>C</li>
                <li>C++</li>
                <li>Fortran</li>
                <li>Java</li>
                <li>HTML, CSS, Javascript</li>
                <li>SQL</li>
            </ul>
        <h3>Software</h3>
            <ul>
                <li>Unix-based operating systems</li>
                <li>LaTeX</li>
                <li>Git, Mercurial</li>
                <li><a href="//www.djangoproject.com">Django</a> (Database-driven web framework)</li>
                <li><a href="//www.autodesk.co.uk/products/autodesk-3ds-max">3ds Max</a> (3D modelling)</li>
                <li>MySQL, SQLite</li>
                <li><a href="//www.numpy.org">Numpy</a>, <a href="//www.scipy.org">Scipy</a> (Python-based scientific computing)</li>
                <li><a href="//www.vtk.org">VTK</a> (3D visualisation)</li>
                <li><a href="//lammps.sandia.gov">LAMMPS</a> (Molecular dynamics simulation)</li>
            </ul>
        <h3>Other</h3>
            <ul>
                <li>Full, clean UK Driving License</li>
                <li>Intermediate level French (A<sup>*</sup> at GCSE and private learning)</li>
                <li>Conversational German (High school and one semester of an undergraduate course)</li>
                <li>Conversational Russian (One semester of Edinburgh's <a href="//www.ed.ac.uk/studying/short-courses/languages/for-all">Languages for All</a> and private learning)</li>
            </ul>
    <h2>Achievements</h2>
        <ul>
            <li>Designed the control system for a newly installed machine for Cadbury (2010)</li>
            <li>Tutored an A-Level student in Mathematics (2010)</li>
            <li>Member of the college Environment Committee at Durham University (2011)</li>
            <li>Tutored undergraduate students in several courses, including 'Scientific Programming in Java' and 'Computational Research Methods' (2011 - 2014)</li>
            <li>Taught at <a href="//software-carpentry.org">Software Carpentry</a> <a href="//software-carpentry.org/bootcamps">Boot Camps</a> in Edinburgh (Dec 2012) and Bath (July 2013)</li>
            <li>Co-designed and wrote an Android app, 'Tubeit' (2013)</li>
            <li>Contributed to various open source projects such as <a href="//lammps.sandia.gov">LAMMPS</a>, <a href="://github.com/eddiejessup/Transcrypt">Sublime Text</a>, <a href="//vpython.org">VPython</a> and <a href="://github.com/orchestrate-io/porc">Orchestrate</a></li>
            <li>First place in PhD poster competition in Edinburgh (October 2013)</li>
            <li>Taught at a workshop on <a href="//kac.maths.ed.ac.uk/~nais/MCM3">Multiscale Computational Methods in Materials Modelling</a> at the <a href="//www.icms.org.uk">International Centre for Mathematical Sciences</a>, Edinburgh (June 2014)</li>
            <li>Website design and administration for artist <a href="//www.nicktighe.uk/">Nick Tighe</a></li>
        </ul>
    <h2>Talks, Posters &amp Publications</h2>
        <ul>
            <li>Paper: <a href="//dx.doi.org/10.1039/c3sm52358f">Marsden, E. J., Valeriani, C., Sullivan, I., Cates, M. E. and Marenduzzo, D. (2013). Chemotactic clusters in confined run-and-tumble bacteria: a numerical investigation. Soft Matter</a></li>
            <li>Talk: 'Bacterial Dynamics in Confined Environments', <a href="//www.netadis.eu">NETADIS Summer School</a>, Hillerød (September 2013)</li>
            <li>Poster: 'Bacterial Chemotaxis in Confining Geometries', Internal PhD poster competition, University of Edinburgh (October 2013)</li>
            <li>Talk: 'Bacterial Dynamics in Confined Environments', School of Physics, University of Edinburgh (December 2013)</li>
            <li>Talk: 'Bacterial Chemotaxis in Confining Geometries', <a href="//www.nbi.ku.dk/english">Niels Bohr Institute</a>, Copenhagen (February 2014)</li>
            <li>Poster: 'Bacterial Chemotaxis in Confining Geometries', <a href="//ist.ac.at/stochastic-biology">Stochastic Biology Conference</a>, <a href="//ist.ac.at">IST Austria</a> (May 2014)</li>
            <li>Paper: <a href="//dx.doi.org/10.1103/PhysRevLett.113.268101">Vladescu, I. D., Marsden, E. J., Schwarz-Linek, J., Martinez, V. A., Arlt, J., Morozov, A. N., Marenduzzo, D., Cates, M. E., Poon, W. C. K. (2014). Filling an Emulsion Drop with Motile Bacteria. Physical Review Letters</a></li>
        </ul>
    <h2>Work Experience</h2>
        <ul>
            <li>Call centre operative for <a href="//www.conceptpropertyclaims.co.uk">Concept Solutions</a> (2005 - 2006)</li>
            <li>Checkout operative for <a href="//www.booths.co.uk">Booths supermarkets</a> (2008)</li>
            <li>Tutoring undergraduate physics students at the University of Edinburgh (2011 - present)</li>
        </ul>
{% endblock %}
