{% extends "base.html" %}
{% block title %}Elliot Marsden - CV{% endblock %}
{% block content %}
<header><h1>Curriculum Vitae</h1></header>
<ul>
    <li><h2>Education</h2>
        <ul class="section">
            <li>
                <div class="title">
                    2011 &ndash; Present: PhD in Soft Condensed Matter Physics
                </div>
                <div class="detail">
                    <a href="//www.ed.ac.uk/home">University of Edinburgh</a>
                </div>
                <div class="description">
                    <ul>
                        <li>Thesis on `The collective dynamics of self-propelled particles in confining environments', on computer simulations of the movement of large numbers of bacteria in spaces with obstacles</li>
                        <li>Publication of work in <a href="//dx.doi.org/10.1039/c3sm52358f">Soft Matter</a>, and on the front cover of <a href="//dx.doi.org/10.1103/PhysRevLett.113.268101">Physical Review Letters</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="title">
                    2007 &ndash; 2011: MPhys in Theoretical Physics
                </div>
                <div class="detail">
                    <a href="//www.dur.ac.uk/van-mildert.college">Van Mildert College</a>, <a href="//www.dur.ac.uk">Durham University</a>
                </div>
                <div class="description">
                    <ul>
                        <li>Graduated 1<sup>st</sup> Class with Honours</li>
                        <li>Masters thesis on `Computational Analysis of Shear Banding in Shear Startup and LAOS Regimes', on the complex behaviour of polymeric fluids as they flow</li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="title">
                    2000 &ndash; 2007
                </div>
                <div class="detail">
                    <a href="//www.crgs.org.uk">Clitheroe Royal Grammar School and Sixth Form College</a>
                </div>
                <div class="description">
                    <ul>
                        <li>A-Level Maths, Physics and Chemistry (A)</li>
                        <li>AS-Level Computing (A)</li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li><h2>Skills</h2>
        <ul class="section">
            <li><h3>Programming Languages</h3>
                <ul>
                    <li>
                        <div class="title">Python</div>
                    </li>
                    <li>
                        <div class="title">C</div>
                    </li>
                    <li>
                        <div class="title">C++</div>
                    </li>
                    <li>
                        <div class="title">Java</div>
                    </li>
                    <li>
                        <div class="title">HTML, CSS, Javascript, CoffeeScript, jQuery</div>
                    </li>
                    <li>
                        <div class="title">SQL</div>
                    </li>
                    <li>
                        <div class="title">Fortran</div>
                    </li>
                </ul>
            </li>
            <li><h3>Software</h3>
                <ul>
                    <li>
                        <div class="title">
                            Operating Systems
                        </div>
                        <div class="description">
                            Linux, OS X, Windows
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            Version control
                        </div>
                        <div class="description">
                            Git, Mercurial
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            Databases
                        </div>
                        <div class="description">
                            <a href="//www.mysql.com/">MySQL</a>, <a href="//www.sqlite.org/">SQLite</a>, <a href="//couchdb.apache.org/">Couchdb</a>, <a href="//orchestrate.io/">Orchestrate</a>
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            Web application frameworks
                        </div>
                        <div class="description">
                            <a href="//www.djangoproject.com">Django</a>, <a href="//flask.pocoo.org/">Flask</a>
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            Web application cloud platforms
                        </div>
                        <div class="description">
                            Heroku, Divshot
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            CSS frameworks
                        </div>
                        <div class="description">
                            Bootstrap, Skeleton
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            HTML parsing
                        </div>
                        <div class="description">
                            BeautifulSoup
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            Document preparation
                        </div>
                        <div class="description">
                            LaTeX
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            3D modelling and design
                        </div>
                        <div class="description">
                            <a href="//www.autodesk.co.uk/products/autodesk-3ds-max">3ds Max</a>
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            Scientific and numerical computing
                        </div>
                        <div class="description">
                            <a href="//www.numpy.org">Numpy</a>, <a href="//www.scipy.org">Scipy</a>, <a href="//cython.org/">Cython</a>, <a href="//www.ctcms.nist.gov/fipy/">Fipy</a>, <a href="//pandas.pydata.org/">Pandas</a>, <a href="//matplotlib.org/">Matplotlib</a>, <a href="//ipython.org/">IPython</a>, <a href="//www.vtk.org">VTK</a>
                        </div>
                    </li>
                </ul>
            </li>
            <li><h3>Miscellaneous</h3>
                <ul>
                    <li>
                        <div class="title">
                            Full, clean UK Driving License
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            Intermediate French
                        </div>
                        <div class="description">
                            GCSE A<sup>*</sup> and private learning
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            Conversational German
                        </div>
                        <div class="description">
                            Secondary school and one semester of an undergraduate course
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            Conversational Russian
                        </div>
                        <div class="description">
                            One semester of Edinburgh's <a href="//www.ed.ac.uk/studying/short-courses/languages/for-all">Languages for All</a> and private learning
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li><h2>Achievements</h2>
            <ul class="section">
                <li>
                    <div class="title">
                        2014: Web design
                    </div>
                    <div class="description">
                     Website design and maintenance for artist <a href="//www.nicktighe.uk/">Nick Tighe</a>
                 </div>
             </li>
             <li>
                <div class="title">
                    2014: <a href="//edrecycle.elliotmarsden.com">EdRecycle</a>
                </div>
                <div class="description">
                    Website with details of Edinburgh's recycling service, searchable by street
                </div>
            </li>
            <li>
                <div class="title">
                    October 2013: Poster prize
                </div>
                <div class="description">
                    First place for 'Bacterial Chemotaxis in Confining Geometries' in internal PhD competition at the University of Edinburgh
                </div>
            </li>
            <li>
                <div class="title">
                    2013: Tubeit
                </div>
                <div class="description">
                    Co-designed and wrote a prototype web application to build a schematic London Tube-style map for any location
                </div>
            </li>
            <li>
                <div class="title">
                    2012 &ndash; Present: Open source
                </div>
                <div class="description">
                    Contributed to various projects such as <a href="//lammps.sandia.gov">LAMMPS</a>, <a href="://github.com/eddiejessup/Transcrypt">Sublime Text</a>, <a href="//vpython.org">VPython</a> and <a href="://github.com/orchestrate-io/porc">Orchestrate</a>
                </div>
            </li>
            <li>
                <div class="title">
                    December 2013 &ndash; March 2013: <a href="//software-carpentry.org">Software Carpentry</a> <a href="//software-carpentry.org/workshops">Boot Camps</a>
                </div>
                <div class="description">
                    Taught version control, Python and Unix skills to PhD students at workshops in Edinburgh and Bath
                </div>
            </li>
            <li>
                <div class="title">
                    2010: Control system optimisation
                </div>
                <div class="description">
                    Designed an improved algorithm for a newly installed machine producing Crunchie material for <a href="//www.cadbury.co.uk/Cadbury">Cadbury</a>
                </div>
            </li>
        </ul>
    </li>
    <li><h2>Employment</h2>
        <ul class="section">
            <li>
                <div class="title">
                    2011 &ndash; Present: Teaching assistant
                </div>
                <div class="detail">
                    University of Edinburgh
                </div>
                <div class="description">
                    Taught on various courses, including
                    <ul>
                        <li>Scientific Programming in Java</li>
                        <li>Computational Research Methods</li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="title">
                    2008: Checkout operative
                </div>
                <div class="detail">
                    <a href="//www.booths.co.uk">Booths supermarkets</a>
                </div>
            </li>
            <li>
                <div class="title">
                    2005 &ndash; 2006: Call centre operative
                </div>
                <div class="detail">
                    <a href="//www.conceptpropertyclaims.co.uk">Concept Solutions</a>
                </div>
            </li>
        </ul>
    </li>
</ul>
{% endblock %}
