{% extends "base.html" %}
{% block title %}Elliot Marsden{% endblock %}
{% block content %}
<img src="https://lh6.googleusercontent.com/-xDnXgJjmPYk/VRsYlRht3kI/AAAAAAAARGM/CyNGCx47sH8/w596-h828-no/elliot_marsden.jpg" alt="Elliot Marsden" id="me_photo" width=400px>

<p id="home">
I'm a PhD student working in the <a href="//www2.ph.ed.ac.uk/cmatter/soft.html">Soft Matter group</a> of the <a href="//www2.ph.ed.ac.uk/cmatter">Institute for Condensed Matter and Complex Systems</a>, based in the <a href="//www.ph.ed.ac.uk">School of Physics</a> at the <a href="//www.ed.ac.uk/home">University of Edinburgh</a>.
</p>

<p>
Get in touch through <script>document.write('<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'m'+'a'+'i'+'&'+'#'+'1'+'0'+'8'+';'+'&'+'#'+'1'+'1'+'6'+';'+'o'+
'&'+'#'+'5'+'8'+';'+'e'+'l'+'%'+'&'+'#'+'5'+'4'+';'+'C'+'&'+'#'+'1'+'0'+'5'+';'+'o'+'t'+'&'+'#'+'4'+
'6'+';'+'%'+'6'+'&'+'#'+'6'+'8'+';'+'a'+'r'+'s'+'&'+'#'+'1'+'0'+'0'+';'+'%'+'6'+'5'+'n'+'&'+'#'+'6'+
'4'+';'+'g'+'m'+'a'+'i'+'l'+'&'+'#'+'4'+'6'+';'+'%'+'6'+'3'+'o'+'m'+"'"+'>'+'&'+'#'+'1'+'0'+'1'+';'+
'l'+'l'+'i'+'o'+'t'+'&'+'#'+'4'+'6'+';'+'m'+'a'+'r'+'s'+'d'+'e'+'n'+'&'+'#'+'6'+'4'+';'+'&'+'#'+'1'+
'0'+'3'+';'+'m'+'&'+'#'+'9'+'7'+';'+'i'+'l'+'&'+'#'+'4'+'6'+';'+'c'+'o'+'m'+'<'+'/'+'a'+'>');</script><noscript>[Turn on JavaScript to see the email address]</noscript>
</p>
{% endblock %}
