{% extends "base.html" %}
{% block title %}Elliot Marsden{% endblock %}
{% block content %}
<img src="https://lh6.googleusercontent.com/-xDnXgJjmPYk/VRsYlRht3kI/AAAAAAAARGM/CyNGCx47sH8/w596-h828-no/elliot_marsden.jpg" alt="Elliot Marsden" id="me_photo" width=400px>

<p id="home">
I'm a PhD student working in the <a href="//www2.ph.ed.ac.uk/cmatter/soft.html">Soft Matter group</a> of the <a href="//www2.ph.ed.ac.uk/cmatter">Institute for Condensed Matter and Complex Systems</a>, based in the <a href="//www.ph.ed.ac.uk">School of Physics</a> at the <a href="//www.ed.ac.uk/home">University of Edinburgh</a>.
</p>

{% endblock %}
