{% extends "base.html" %}
{% block title %}Elliot Marsden - Projects{% endblock %}
{% block content %}
<header><h1>Projects</h1></header>
<ul>
    <li><a href="//edrecycle.elliotmarsden.com">EdRecycle</a> - a database of recycling collection information for the city of Edinburgh</li>
    <li><a href="//github.com/eddiejessup/Transcrypt">Transcrypt</a> - a package for Sublime Text providing encryption and decryption of text using a password from the editor</li>
    <li><a href="//github.com/eddiejessup?tab=repositories">Many smaller projects</a></li>
</ul>
{% endblock %}
